body{
    color: #333;
    background-color: #fafafa;
    line-height: 15px;
    margin: 8px;
    padding: 10px 5px;
    font-family: 'Times New Roman', Times, serif;
}
h1{
    font-size: 4em;
    font-weight: bold;
    color: #282727;
    text-decoration: none;
}
h3{
    font-size: 2em;
    font-weight: normal;

}
.main-header p{
    font-style: italic;
}
header{
    background-color: #f8f3f3;
    padding: 50px 20px;;
    border:2px solid #fafafa;
    border-radius: 10px;
    border-bottom:0px solid #fafafa;
    text-align: center;
}
.business-logo a{
    text-decoration: none;
    text-shadow: 2px 3px 0.5px rgb(0, 0, 0);
    color: #282727;
}
.logo{
    border:1px solid #faf9f9;
    background-color: #f8f3f3;
    border-radius: 5px;
    float: left;
    margin-top: -35px;
}
.section{
    background-color: #faf9f9;
    padding: 15px 10px;
    border-radius: 10px;
}
.main-div{
    background-color: #e0e0e0;
    display: grid;
    grid-template-columns: repeat(3,6fr);
    padding: 8px 10px;
    align-items: center;
    gap: -20px;
    border-radius: 4px;
    position: relative;
}
.substituent-div{
    background-color: #c3b0b0;
    padding: 10px 15px;
    border:2px solid #d7d4d4;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
}
.substituent-div:hover{
    background-color: #847272;
    transform: scale(1.053);
    transition: 0.5s ease;
    color: #2f0c0c;
}
.contact-us{
    color: #522e2e;
    text-align: center;
}
.contact-us a{
    float: right;
    text-decoration: none;
    color: rgb(98, 135, 168);
}
h4{
    font-size: 5em;
    font-weight:bold;
    text-align: center;
}